
<h3>Sign Up</h3>
	<%= form_for @user, html: {class: "form"} do |f| %>
		<%= f.text_field :username, placeholder: "username" %>
		<%= f.text_field :password, placeholder: "password" %>
		<%= f.submit "Sign-Up" %>
	<% end %>